@media(min-width:980px) and (max-width:1199px),(min-width:1200px){body{padding-top:10px}}body.toolbar .navbar-fixed-top{top:10px}body.toolbar-drawer .navbar-fixed-top{top:10px}
@import url(http://fonts.googleapis.com/css?family=Metrophobic|Montserrat:400,700);



/* -- Typography
------------------------ */

body {
  font-family: 'Metrophobic', Arial, serif; 
}

h2, h3, h4 { 
  font-family: ‘Metrophobic’, Arial, serif; font-weight: 700; 
}


/* -- Header
------------------------ */

#logo-wrapper {
  margin-left: 0;
}


/* -- Navigation
------------------------ */

.navbar-inner {
  background-color: transparent;
  background-image: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


#nav ul {
  float: right !important;
	
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
  width: auto;
  -webkit-border-radius: 7px;  
  border-radius: 7px;
  background: rgba(255,255,255,0.1);
}

#nav li {
  display: block;
  float: left;
  width: 100%;
  width: auto;
  *width: 24.9%; /* IE7 Hack */ /* IE6 Hack */
}

#nav a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 17px;
  margin: 0 0 0 30px;
  float: left;
  font-weight: 300;
  line-height: 32px;
  background: none;
  font-size: 1em;
  font-weight: 300;
  text-shadow: none;
}

#nav li a:hover,
#nav li a.active {
	background: #4138e8;
	color: #fff;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 1px 1px 0 rgba(40,37,144,0.75);
	-moz-box-shadow: 1px 1px 0 rgba(40,37,144,0.75);
	box-shadow: 1px 1px 0 rgba(40,37,144,0.75);
}


/* -- Footer
------------------------ */

.footer {
  background-color:#333;
  color: #fff;
}

.social-links {
  list-style: none;
  overflow: hidden;
  margin:0;
}

.social-links a {
  height: 38px;
  width: 34px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  overflow:hidden;
  text-indent:-9999px;
  background: url('../img/footer-social.png') top left;
}

.social-links .facebook a {
  background-position: -44px 0;
}

.social-links .google a {
  background-position: -89px 0;
}

.social-block h2 {
  font-size: 12px;
  text-transform: uppercase;
}

.social-block {
  height: 82px;
  background: url('../img/integrity-icon.png') no-repeat top right;
}